<h1>Список проектов</h1>

<div *ngFor="let project of projects$ | async" class="project">
  Проект - id: {{project.id}}
  <button (click)="buildProject(project)">Собрать</button>
  <select (change)="selectTemplate(project, $event)">
    <option *ngFor="let template of templates$ | async" [value]="template.id">{{template.id}}</option>
  </select>

  <div *ngIf="project | getResult | async as result">
    Собранный проект: {{result}}
  </div>

  <div *ngIf="project | getError | async as error">
    Ошибка: {{error}}
  </div>
</div>

<router-outlet></router-outlet>
